{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Email Attachment - Django and Python</title>
  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
  body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201023/pngtree-email-sign-on-green-wall-background-banner-copy-space-3d-illustration-image_432106.jpg");

    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<body>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="my-3 display-4">Email</h1>
          {% if error_message %}
          <div class="alert alert-primary" role="alert">
            {{error_message}}
          </div>
          {% endif %}
          {% if email_form %}
          <form method="POST" action ="" enctype="multipart/form-data">
            {% csrf_token %}
            {{email_form|crispy}}
          <button type="submit" class="btn btn-primary btn-block" >Send Email</button>
     

          </form>
          {% endif %}

      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>